
:root {
  --branding-color: #f0c990;
  --heading-font-family: 'Roboto', sans-serif;
}

.hero {
  padding-top: 40px;
  padding-bottom: 10px;
}

.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
 
  text-align: center;
  padding: 1px 18px !important;
  text-decoration: none;
  font-size: 17px;
  border-radius: 4px;
}

.topnav a:hover {
  border: 1px solid #bf8284 ;
}

.topnav a.active {
  border: 1px solid #bf8284 ;
}
nav {
  font-family: var(--heading-font-family) !important;
 
}

h2 {
  font-weight: 300;
}
h3 {
  font-size: 15px;
}
.container {
  font-family: var(--heading-font-family);
  font-weight: 300;  
  
}

.container h1 {
  font-family: var(--heading-font-family);
  font-weight: 400;
}

.btn-branding {
  background:var(--branding-color);
  border-radius: 20px;
  color: white;
  font-size: 15px;
  font-weight: 300;
  line-height: 27px;
  padding: 13px 40px;
  transition: all 150ms ease-in-out;
  

}

.btn-branding:hover {
  filter: contrast(98%);
  transform: scale(1.1);
  
}

  .animation {
    position: relative;
  }
  
  .animation:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 8px;
    background:#f0c88f;
    opacity: 0.5;
    bottom: 0px;
   
  }
  
  .tower-img {
    margin-left: 160px;
  }
 .clock-img, .ice-img {
  margin-left: 50px;
 }
  
 .weather-img, .berlin-img {
margin-left: 50px;

 }

img {
  
  border-radius: 40px;;
 
}

.home-text {
  margin-top: 150px;
  margin-left: 200px;
}

.socials a {
  text-decoration: none;
  font-size: 20px;
  margin: 80px 30px;
  padding: 5px 10px;
  color: #2b3035;
  background-color: #f9f7fe;
  border-radius: 50%;
  transition: all 150ms ease-in-out;
}

.socials :hover {
  color: #f9f7fe;
  background-color: #2b3035;
}

.btn-weather, .btn-clock, .btn-icecream, .btn-berlin {
  text-decoration: none;
  background: #a2aaa5 ;
  color:white;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 300;
  line-height: 27px;
  padding: 13px 40px;
  transition: all 150ms ease-in-out;
  
}



.btn-weather:hover, .btn-clock:hover, .btn-icecream:hover,  .btn-berlin:hover {
  text-decoration: none;
  filter: contrast(98%);
  transform: scale(1.1);
}

.btn-clock {
  background: #e8d39a;  
  
}
.btn-icecream {
  
  background: #eecdad;
}

.btn-berlin {
  background:#6b6972 ;  
  
}

.project-description-1, .project-description-2, .project-description-3, .project-description-4 {
  margin-left: 90px;
  margin-right: 60px;
}

.about-section {
  margin-left: 50px;
}
.about-section h1 {
  font-size: 70px;
  font-family: var(--heading-font-family);

  
  }
  .about-section h2 {
    font-weight: 300;
    
  }
  
  .portrait {
    padding: 30px;
    background: var(--branding-color);
    margin-top: 100px;
    margin-left: 150px;
    border-radius: 70px;
  
  }

.contact-section {
  margin-top: 240px;
  padding-top: 30px;
  padding-bottom: 50px;
  
}

.contact-section h1 {
  font-size: 60px;
  font-family: var(--heading-font-family);
  padding-left: 0;
}


.email-link {
text-decoration: none;
color:white;
}

.email-link:hover {
  color:black;
  text-decoration: none;
}

.fade-in-text {
  font-family: var(--heading-font-family);
  font-size: 25px;
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}

.fade-in-text p {
  font-size: 20px;
  
}




@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}






@media (max-width: 990px) {
  
.topnav a.active {
  border:none;
}
  .topnav a:hover {
    transform: none;
    border:none;
  }
 
  .home-text {
  margin: 0 auto;
 }
  
  .container h1 {
    font-size: 50px;
    font-weight: 500;
    padding-bottom: 20px;
  }
  .container {
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    display:block;
margin: 0 auto;
    
  }
  .btn-branding {
    padding: 5px 20px;
  }
 
  p {
    font-size: 20px;
    text-align: center;
  }
  .about-section {
    text-align: center;
   
  }
 

  .project-description {
    margin:0;
  }

.portrait {
  margin-left: 0;
  
}

.contact-section {
  text-align: center;
}
}

