



.container {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 30px;
  
  padding: 40px;
}

.container h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 50px;
 
}
.btn-branding {
  background: #f0c990 ;
  border-radius: 20px;
  color: black;
  font-size: 15px;
  font-weight: 200;
  line-height: 27px;
  padding: 13px 40px;
 

}

span {
  text-decoration: underline #f0c990;
}

img {
  margin-left: 190px;
 
  

}

.text {
  margin-top: 150px;
  margin-left: 100px;
}